.signup-container {
  background-image: url(../../images/garage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#SignUpcontainer col-xs-6 col-md-4 {
  display: flex;
  font-family: Calibri;
  width: 100%;
  height: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

#SignUp {
  text-align: center;
  height: auto;
  width: auto;
  padding: 25px;
  background-color: white;
  top: 25%;
  box-shadow: 0px 0px 10px 0px #000;
  border-radius: 25px;
  overflow: auto;
}

#title {
  font-family: Calibri;
  font-size: 25px;
  color: #ebad70 !important;
}

#Firstname,
#Lastname,
#email,
#password2,
#password3 {
  height: 6%;
  margin: 5px 0% 5px 0%;
  border-radius: 25px;
}

button {
  background-color: #ebad70 !important;
  color: white;
  font-size: 25px;
  font-weight: 400;
  padding: 8px;
  border: none;
  cursor: pointer;
  font-family: Calibri;
  width: 70%;
  margin: auto;
  border-radius: 25px;
}

.back {
  text-align: start;
  padding-left: 0;
}
