#AboutContainer {
  float: center;
}

#subTitle {
  float: center;
  color: black;
}

#About {
  text-align: center;
  height: auto;
  width: 40%;
  background-color: white;
  padding: 25px;
  position: fixed;
  top: 25%;
  box-shadow: 0px 0px 10px 0px #000;
  border-radius: 25px;
  overflow: auto;
}

button {
  background-color: #0f0761;
  color: white;
  font-size: 25px;
  font-weight: 400;
  padding: 8px;
  border: none;
  cursor: pointer;
  font-family: Calibri;
  width: 70%;
  margin: auto;
  border-radius: 25px;
}

.bi-facebook {
  color: #0b1f92;
}
.bi-twitter {
  color: #089ef5;
}
.bi-telegram {
  color: #2c94d1;
}
.icon:hover {
  cursor: pointer;
}
.icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 10%;
}
#title {
  font-family: Calibri;
  font-size: 25px;
  color: #ebad70;
}
