.welcome-container {
  background-color: rgb(85, 85, 85);
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../../images/garage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
.account-block {
  padding: 0;
  background-image: url(../../images/bgpic.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  position: relative;
}
.account-block .overlay {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
.account-block .account-testimonial {
  text-align: center;
  color: #fff;
  position: absolute;
  margin: 0 auto;
  padding: 0 1.75rem;
  bottom: 3rem;
  left: 0;
  right: 0;
}

.text-theme {
  color: #ffc671 !important;
}
.btn-theme {
  background-color: #ffc671;
  border-color: #5369f8;
  color: #fff;
  border-radius: 25px;
}
.container-div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.shadow {
  background-color: white;
  box-shadow: 3px 20px 20px rgb(226, 24, 24);
  position: relative;
  z-index: 10;
}
.logo-div {
  height: 40px;
  width: 90px;
  border: 2px solid;
  border-radius: 80%;
  border-color: black;
  box-shadow: 2px 2px 5px rgb(68, 62, 62);
  float: left;
  margin-top: -100px;
  margin-left: -30px;
}
