.sidebar-container {
  height: 100%;
  width: 15%;
  padding: 1em;
  background-color: #ebad70;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  z-index: 2;
}
.link {
  color: white;
  text-decoration: none;
  list-style-type: none;
}
.link:hover {
  color: rgb(192, 192, 192);
  text-decoration: none;
}
.links-list ul {
  list-style-type: none;
}

.sidebar-image {
  height: 60px;
  width: auto;
  margin-bottom: 1em;
}

.sidebar-link,
.logout {
  font-weight: 600;
  margin-bottom: 1em;
  font-size: 1.2em;
}

.sidebar-divider {
  height: 1px;
  width: 90%;
  background-color: rgba(255, 255, 255, 0.4);
  margin-bottom: 2em;
}
.logout {
  position: absolute;
  bottom: 7%;
}
.logout:hover {
  cursor: pointer;
  color: rgb(124, 124, 124);
}
