#ForgotContainer col-xs-6 col-md-4 {
  display: flex;
  font-family: Calibri;
  width: 100%;
  height: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

#Forgot {
  text-align: center;
  height: auto;
  width: auto;
  background-color: white;
  padding: 25px;
  position: fixed;
  top: 35%;
  box-shadow: 0px 0px 10px 0px #000;
  border-radius: 25px;
  overflow: auto;
}

#title {
  font-family: Calibri;
  font-size: 25px;
  color: #0f0761;
}

button {
  background-color: #0f0761;
  color: white;
  font-size: 25px;
  font-weight: 400;
  padding: 8px;
  border: none;
  cursor: pointer;
  font-family: Calibri;
  width: 70%;
  margin: auto;
  border-radius: 25px;
}
